
.fondo1{
    background-color: #e0e0e0;
    margin: 0%;
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.bloque{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 325px;
    border-radius: 15px;
    justify-content: space-around;
    border: 1px solid #b7b6b6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-bottom: 20px;
}

.imgndx1{
    height: 300px;
    width: auto;
    padding: 10px;
}

.imgndx3{
    height: 20px;
    width: auto;
    margin-top: 40px;
    margin-bottom: 20px;
}

.imgndx2smg{
    width: 110px;
}